[user]
	name = Aaron Tsui
	email = kaixu@amazon.com
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	last = log -1 HEAD
[core]
	editor = vim